<div mat-dialog-title>
    Exchange Rate Form Update
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()"class="centered-form">
  <div class="row">
    <div class="col mb-3">
      <label for="baseCurrency" class="form-label"></label>
      <input type="text" class="form-control" id="baseCurrency" formControlName="baseCurrency" placeholder="Base Currency"/>
    </div>
    </div>
    <div class="row">
    <div class="col mb-3">
        <label for="targetCurrency" class="form-label"></label>
      <input type="text" class="form-control" id="targetCurrency" formControlName="targetCurrency" placeholder="Target Currency"/>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
        <label for="rate" class="form-label"></label>
        <input type="text" class="form-control" id="rate"formControlName="rate" placeholder="Rate"/>
    </div>
    </div>
    <div class="row">
    <div class="col mb-3">
        <button type="submit" class="btn btn-success"[disabled]="!form.valid" >Update </button>
    <button type="button" class="btn btn-danger"(click)="onCancel()" >Cancel </button>
    </div>
  </div>
</form>
